
{# Campo Ramo de Atividade na Pagina 2 #}
<div class="item">
  <input type="hidden" name="insurance_company" value ="Bradesco">
    <div class="font-weight-lighter"> Ramo de Atividade </div>
    <select class="custom-select"  name="type_activity">
        <option  
            value="ADMINISTRADORA DE ALUGUEIS"
            > ADMINISTRADORA DE ALUGUEIS
        </option>
        <option  
            value="AGENCIA DE PASSAGENS AEREAS"
            > AGENCIA DE PASSAGENS AEREAS
        </option>
        <option  
            value="AGENCIA DE PUBLICIDADE E PROPAGANDA"
            > AGENCIA DE PUBLICIDADE E PROPAGANDA
        </option>
        <option  
            value="AGENDA E ORGANIZACAO DE VIAGENS"
            > AGENDA E ORGANIZACAO DE VIAGENS
        </option>
        <option  
            value="AGRICULTURA, PECUARIA E PESCA"
            > AGRICULTURA, PECUARIA E PESCA
        </option>
        <option  
            value="ALOJAMENTO E ALIMENTACAO"
            > ALOJAMENTO E ALIMENTACAO
        </option>
        <option  
            value="AREA DE ASSES EM GESTAO EMPRESARIAL"
            > AREA DE ASSES EM GESTAO EMPRESARIAL
        </option>
        <option  
            value="AREA DE INFORMATICA"
            > AREA DE INFORMATICA
        </option>
        <option  
            value="AREA SEGURANCA E VIGILANCIA PRIVADA"
            > AREA SEGURANCA E VIGILANCIA PRIVADA
        </option>
        <option  
            value="ASSOCIACOES COM VINCULO"
            > ASSOCIACOES COM VINCULO
        </option>
        <option  
            value="ASSOCIACOES SEM VINCULO"
            > ASSOCIACOES SEM VINCULO
        </option>
        <option  
            value="ASSOCIACOES/COOPERATIVAS E SINDICATOS"
            > ASSOCIACOES/COOPERATIVAS E SINDICATOS
        </option>
        <option  
            value="AUTOMOVEIS"
            > AUTOMOVEIS
        </option>
        <option  
            value="BENEF, MOAGEM E PREP. DE PRODUTOS"
            > BENEF, MOAGEM E PREP. DE PRODUTOS
        </option>
        <option  
            value="CARTORIO OFICIO DE NOTAS"
            > CARTORIO OFICIO DE NOTAS
        </option>
        <option  
            value="COLEGIOS"
            > COLEGIOS
        </option>
        <option  
            value="COMERCIO"
            > COMERCIO
        </option>
        <option  
            value="COMPOSICAO MATRIZES P/ IMPRESSAO"
            > COMPOSICAO MATRIZES P/ IMPRESSAO
        </option>
        <option  
            value="CONCESSIONARIOS/ANGARIADORES"
            > CONCESSIONARIOS/ANGARIADORES
        </option>
        <option  
            value="CONFECCAO DE PECAS DO VESTUARIO"
            > CONFECCAO DE PECAS DO VESTUARIO
        </option>
        <option  
            value="CONSERVACAO DE MAR. E EQUIPAMENTOS"
            > CONSERVACAO DE MAR. E EQUIPAMENTOS
        </option>
        <option  
            value="CORRETAGEM E AVALIACAO DE IMOVEIS"
            > CORRETAGEM E AVALIACAO DE IMOVEIS
        </option>
        <option  
            value="CORRETORAS DE SEGUROS"
            > CORRETORAS DE SEGUROS
        </option>
        <option  
            value="CURSOS TECNICOS E ESPECIFICOS"
            > CURSOS TECNICOS E ESPECIFICOS
        </option>
        <option  
            value="DESENVOLVIMENTO DE SOFTWARES"
            > DESENVOLVIMENTO DE SOFTWARES
        </option>
        <option  
            value="EDICAO E IMPRESSAO DE PROD. GRAFICOS"
            > EDICAO E IMPRESSAO DE PROD. GRAFICOS
        </option>
        <option  
            value="EMPRESAS DE CONSULTORIA"
            > EMPRESAS DE CONSULTORIA
        </option>
        <option  
            value="EMPRESAS DE EXTRACAO EM GERAL"
            > EMPRESAS DE EXTRACAO EM GERAL
        </option>
        <option  
            value="EMPRESAS VINCULADAS À COMUNICÃO"
            > EMPRESAS VINCULADAS À COMUNICÃO
        </option>
        <option  
            value="ENGENHARIA/CONTRUCOES"
            > ENGENHARIA/CONTRUCOES
        </option>
        <option  
            value="ESCRITORIOS"
            > ESCRITORIOS
        </option>
        <option  
            value="ESTATAIS"
            > ESTATAIS
        </option>
        <option  
            value="FABRIC. DE INSTRUMENTOS MUSICAIS"
            > FABRIC. DE INSTRUMENTOS MUSICAIS
        </option>
        <option  
            value="FABRICACAO DE PROD. QUIM. ORGANICOS"
            > FABRICACAO DE PROD. QUIM. ORGANICOS
        </option>
        <option  
            value="FABRICACAO EM GERAL"
            > FABRICACAO EM GERAL
        </option>
        <option  
            value="FACTORING"
            > FACTORING
        </option>
        <option  
            value="FIACAO DE ALGODAO"
            > FIACAO DE ALGODAO
        </option>
        <option  
            value="FORNECEDORES DE ALIMENTOS P/ EMPRESAS"
            > FORNECEDORES DE ALIMENTOS P/ EMPRESAS
        </option>
        <option  
            value="FRIGORIFICOS"
            > FRIGORIFICOS
        </option>
        <option  
            value="FUNDACOES"
            > FUNDACOES
        </option>
        <option  
            value="HOLDINGS"
            > HOLDINGS
        </option>
        <option  
            value="HOSPITAIS/CLINICAS E LABORATORIOS"
            > HOSPITAIS/CLINICAS E LABORATORIOS
        </option>
        <option  
            value="HOTEL, POUSADA"
            > HOTEL, POUSADA
        </option>
        <option  
            value="IMPRESSAO, JORNAIS, REVISTAS E LIVROS"
            > IMPRESSAO, JORNAIS, REVISTAS E LIVROS
        </option>
        <option  
            value="INDUSTRIA LEVE"
            > INDUSTRIA LEVE
        </option>
        <option  
            value="INDUSTRIA PESADA"
            > INDUSTRIA PESADA
        </option>
        <option  
            value="INDUSTRIA TEXTIL"
            > INDUSTRIA TEXTIL
        </option>
        <option  
            value="LOGISTICA"
            > LOGISTICA
        </option>
        <option  
            value="MERCADO FINANCEIRO"
            > MERCADO FINANCEIRO
        </option>
        <option  
            value="ORG. INTERNACIONAIS"
            > ORG. INTERNACIONAIS
        </option>
        <option  
            value="OUTROS"
            > OUTROS
        </option>
        <option  
            value="PARTICIPACOES E EMPREENDIMENTOS"
            > PARTICIPACOES E EMPREENDIMENTOS
        </option>
        <option  
            value="PREST. SERV. E AGENC. MAO-DE-OBRA"
            > PREST. SERV. E AGENC. MAO-DE-OBRA
        </option>
        <option  
            value="PROD. ESPETACULOS E EVENTOS CULT."
            > PROD. ESPETACULOS E EVENTOS CULT.
        </option>
        <option  
            value="PROD. PECAS DE FERRO, METAIS E ACO"
            > PROD. PECAS DE FERRO, METAIS E ACO
        </option>
        <option  
            value="RESTAURANTE"
            > RESTAURANTE
        </option>
        <option  
            value="SAUDE E SERVICOS SOCIAIS"
            > SAUDE E SERVICOS SOCIAIS
        </option>
        <option  
            value="SERV. MANUT. E REPARACAO EM GERAL"
            > SERV. MANUT. E REPARACAO EM GERAL
        </option>
        <option  
            value="SERVICOS ADVOCATICIOS"
            > SERVICOS ADVOCATICIOS
        </option>
        <option  
            value="SERVICOS DE ARQUITETURA"
            > SERVICOS DE ARQUITETURA
        </option>
        <option  
            value="SONDAGENS"
            > SONDAGENS
        </option>
        <option  
            value="SUPER, HIPER E MINI MERCADO"
            > SUPER, HIPER E MINI MERCADO
        </option>
        <option  
            value="SUPERMERCADOS"
            > SUPERMERCADOS
        </option>
        <option  
            value="TELECOMUNICACAO/COMUNICACAO"
            > TELECOMUNICACAO/COMUNICACAO
        </option>
        <option  
            value="TRANSPORTE"
            > TRANSPORTE
        </option>
    </select>
</div>
{# Categoria Profissional #}
<div class="item professionalCategory">
    <div class="font-weight-lighter"> Categoria Profissional</div>
    <input 
        id="professionalCategory1"
        type="checkbox"
        name="professional_category" 
        value="Funcionário"
        >
    <label for="professionalCategory1"> Funcionário </label>
    <input 
        id="professionalCategory2"
        type="checkbox"
        name="professional_category" 
        value="Sócio e Diretores"
        >
    <label for="professionalCategory2"> Sócio e Diretores </label>
    <input 
        id="professionalCategory3"
        type="checkbox"
        name="professional_category" 
        value="Estagiários"
        >
    <label for="professionalCategory3"> Estagiários </label>
    <input 
        id="professionalCategory4"
        type="checkbox"
        name="professional_category" 
        value="Menor Aprendiz"
        >
    <label for="professionalCategory4"> Menor Aprendiz </label>
    <input 
        id="professionalCategory5"
        type="checkbox"
        name="professional_category" 
        value="Trabalhadores Temporário"
        >
    <label for="professionalCategory5"> Trabalhadores Temporários </label>
    <div>
        <input 
            id="professionalCategory6"
            type="checkbox"
            name="professional_category" 
            value="Adm. Pj Contratante"
            >
        <label for="professionalCategory6"> Adm. Pj Contratante </label>  
    </div>
</div>
{#  Transferência Bradesco Aguardando a explicacao do cliente para fazer o campo #}
<div class="item">
    <div class="font-weight-lighter"> Transferência Bradesco? </div>
    <select class="custom-select" onchange="cardBradesco.showBradescoForm()"  bradesco name="transfer_bradesco">
        <option 
            value="Não"
            > Não
        </option>
        <option 
            value="Sim"
            > Sim
        </option>
    </select>
</div>
<div class="item transferBradesco" style="display: none;">
    <div>Número do cartão</div>
    <input type="text"  onblur="cardBradesco.addQtdLife()" name="card_number" id="cardNumber">
    <div class="btn btn-primary" onclick="cardBradesco.addCard()"> Novo </div>
</div>
<input type="hidden" id="qtdLife" name="qtd_lifes_bradesco">
{# Perfil #}
<div class="item">
    <div class="font-weight-lighter"> Perfil </div>
    <select class="custom-select" name="profile_activity">
        <option 
            value="Administradores"
            > Administradores
        </option>
        <option 
            value="Coordenadores"
            > Coordenadores
        </option>
        <option 
            value="Diretorias"
            > Diretorias
        </option>
        <option 
            value="Funcionários"
            > Funcionários
        </option>
        <option 
            value="Gerentes"
            > Gerentes
        </option>
        <option 
            value="Operários"
            > Operários
        </option>
        <option 
            value="Outros"
            > Outros
        </option>
        <option 
            value="Sócios"
            > Sócios
        </option>
    </select>
</div>