{# Modal para faixa etária acima de 59 anos #}
<div class='modal modal-position-none modalShow' id='exampleModal' tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true'>
<div class='modal-dialog' role='document'>
    <div class='modal-content'>
    <div>
        <h5 class='modal-title textAling' id='exampleModalLabel'>Selecione a opção desejada</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
        </button>
    </div>
    <div class='modal-body'>
      
        <a class="btn btn-primary textWhite btn-lg btn-block" href="/form1">Formulário Sulamerica</a>
        <a class="btn btn-primary textWhite btn-lg btn-block" href="/form2">Formulário Amil</a>
        <a class="btn btn-primary textWhite btn-lg btn-block" href="/form3">Formulário Bradesco</a>
        <a class="btn btn-primary textWhite btn-lg btn-block" href="/history">Histórico</a>

    </div>
    <div class='modal-footer'>
    </div>
    </div>
</div>
</div>